region = "us-east-1"
project_name = "tamago"
vpc_id = "vpc-xxxxxx"
private_subnet_ids = ["subnet-aaaa","subnet-bbbb"]
public_subnet_ids = ["subnet-cccc","subnet-dddd"]
db_username = "root"
db_password = "change-me"
allowed_cidr = "0.0.0.0/0"
